Repository bondiano/narratoric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, dependencies, engine, formatting

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

chore: add ocamlformat installation to CI and format workflows
  .github/workflows/ci.yml
  .github/workflows/format.yml
Labels: ci

chore: remove auto format workflow from GitHub Actions
  .github/workflows/format.yml
Labels: ci

chore: update CI workflow to include additional dependencies for testing
  .github/workflows/ci.yml
Labels: ci

chore: enhance CI workflow by adding odoc installation and documentation support
  .github/workflows/ci.yml
Labels: ci

chore: update CI workflow to include opam update before dependency installation
  .github/workflows/ci.yml
Labels: ci

ci: get rid of extra opam update
  .github/workflows/ci.yml
  .github/workflows/deps.yml
Labels: ci

feat(cli): implement CLI structure and template for commands
  README.md
  bin/dune
  bin/main.ml
  dune-project
  lib/cli/build.ml
  lib/cli/check.ml
  lib/cli/cli.ml
  lib/cli/dune
  lib/cli/init.ml
  lib/cli/narrat_cli.ml
  lib/cli/project.ml
  lib/cli/run.ml
  lib/cli/test.ml
  lib/dune
  lib/engine.ml
  lib/narratoric.ml
  runtime/README.md
  test/dune
  test/test_basic.ml
  test/test_cli.ml
Labels: documentation, tests, dependencies, engine

feat(story-lexer): add Story Mode lexer
  dune-project
  lib/dune
  lib/narratoric.ml
  lib/story_lexer.ml
  test/dune
  test/test_cli.ml
  test/test_story_lexer.ml
Labels: tests, dependencies

feat(story): implement Story Mode DSL parser
  examples/simple.story
  lib/cli/dune
  lib/dune
  lib/narratoric.ml
  lib/story.ml
  lib/story.mli
  lib/story/ast.ml
  lib/story/lexer.ml
  lib/story/parser.ml
  test/dune
  test/test_story_lexer.ml
  test/test_story_parser.ml
Labels: tests

feat(story): basic js code generation for stories
  Makefile
  dune-project
  lib/cli/build.ml
  lib/cli/check.ml
  lib/dune
  lib/story.ml
  lib/story.mli
  lib/story/codegen.ml
  lib/story/codegen.mli
  lib/story/parser.ml
  runtime/package.json
  runtime/packages/core/package.json
  test/dune
  test/test_cli.ml
  test/test_codegen_expect.ml
  test/test_codegen_ounit.ml
  test/test_story_lexer.ml
Labels: tests, dependencies

feat(story): enhance story structure with localizable text and metadata
  lib/cli/build.ml
  lib/story/ast.ml
  lib/story/codegen.ml
  lib/story/lexer.ml
  lib/story/parser.ml
  test/dune
  test/test_codegen_expect.ml
  test/test_codegen_ounit.ml
  test/test_error_reporting.ml
  test/test_localization_demo.ml
  test/test_metadata.ml
  test/test_story_lexer.ml
  test/test_story_parser.ml
Labels: tests

feat(story): add notification directive
  examples/simple.story
  lib/story/ast.ml
  lib/story/codegen.ml
  lib/story/parser.ml
  test/dune
  test/test_codegen_expect.ml
  test/test_notification.ml
Labels: tests

feat(story): add skill check demo and enhance parser for outcome transitions
  examples/skill_check_demo.story
  lib/story/parser.ml
  test/dune
  test/test_codegen_expect.ml
  test/test_skill_check_continuation.ml
Labels: tests

.github/labeler.yml:

# Add 'documentation' label to any change in docs or markdown files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

# Add 'tests' label to any change in test files
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*test*.ml'

# Add 'ci' label to any CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

# Add 'dependencies' label to dependency changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'dune-project'
      - '*.opam'
      - '.opam-switch-create'

# Add 'engine' label to engine changes
engine:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/engine.ml'
      - 'lib/engine.mli'

# Add 'formatting' label to formatting changes
formatting:
  - changed-files:
    - any-glob-to-any-file:
      - '.ocamlformat'
